<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'user/user.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<div class = "raw">
    <div class = "col-12" >
      <div class = "col-12 text-center">
<h1><a href="{%  url 'home' %}">MOVIYAAAA</a></h1>
<br><br>
</div>

<form method = "POST">
  {% csrf_token %}
  <div class="box">
    <div class="head">
      <p>Selected Movie</p>
    </div>
  </div>
  당신이 선택한 영화는
  <div style="width:200px; height:320px; background-color:rgb(199, 199, 199)">
    <iframe src="{% url 'movview' %}?title={{title}}&original_title={{original_title}}&original_language={{original_language}}&poster_path={{poster_path}}" height="320" width="200"></iframe>
  </div>
  <br><br><br>
  입니다.
  <br><br><br>
  <a href="{%  url 'home' %}">
    <input type="button" class="btn-group" value="확인">
  </a>
</form>